#### LUXAI MAGPIE TURN SERVER ####

# Replace with the VM's Azure private IPv4 address
listening-port=3478
listening-ip=PRIVATE_IP
relay-ip=PRIVATE_IP
external-ip=48.209.57.190/PRIVATE_IP

realm=48.209.57.190
fingerprint
use-auth-secret
static-auth-secret=<YOUR SECRETE>

min-port=49160
max-port=49250

user-quota=4
total-quota=80

max-bps=1000000
bps-capacity=10000000
max-allocate-lifetime=600
stale-nonce=600

# UDP-only service
no-tcp
no-tls
no-dtls
no-tcp-relay

no-multicast-peers
no-cli

# Prevent TURN access to internal infrastructure
denied-peer-ip=0.0.0.0-0.255.255.255
denied-peer-ip=10.0.0.0-10.255.255.255
denied-peer-ip=100.64.0.0-100.127.255.255
denied-peer-ip=127.0.0.0-127.255.255.255
denied-peer-ip=168.63.129.16-168.63.129.16
denied-peer-ip=169.254.0.0-169.254.255.255
denied-peer-ip=172.16.0.0-172.31.255.255
denied-peer-ip=192.168.0.0-192.168.255.255
denied-peer-ip=224.0.0.0-255.255.255.255

log-file=/var/log/coturn.log
simple-log
